{% extends "index" %}

{% block content %}

{{entry.productname}}


<div class="article">

        <div>
        <img class="couch" src="{{ siteUrl }}static/Images/couch.jpeg" alt="">
        </div>

        <div>
        <H1>Toby Tile couch</H1>
        <p>€ 2,300</p>
        <p class="colorway">Night blue</p>
        <h2>Details</h2>
        <p>The legs leave space under the sofa in order to create an airy look and make it easier for you when cleaning.

            The pocket spring core of the seat cushions provides even comfort over the entire seating surface and gives your body good support.
            
            Pocket springs are a durable solution that makes the sofa retain both its shape and comfort for many years.
            
            The combination of seat height, seat depth and back cushions gives you good support so you enjoy a more upright sitting position on the sofa.
            
            The 3-seat sofa with chaise longue has storage under the seat where you can store things you want close at hand.
            
            The chaise longue can be placed either to the left or right, so you can adapt the sofa to your space and your preferences.
            
            This cover is made from Vissle fabric in polyester, which is dope-dyed. It's a durable material with a smooth weave and a nice two-tone effect.
            
            The cover is easy to keep clean since it is removable and machine washable.
            
            10 year guarantee. Read about the terms in the guarantee brochure.</p>

            <button class="button"> add to cart</button>
        </div>

    </div>






















{% endblock %}